---
import { COPYRIGHT } from "@/constants/data";
---

<footer>
  <hr />

  <table>
    <tbody>
      <tr>
        <td>{COPYRIGHT}</td>

        <td align="right">{new Date().getFullYear()}</td>
      </tr>
    </tbody>
  </table>
</footer>
