@import "tailwindcss";

@theme {
  --font-mono: "Cascadia Code", monospace;
  --font-display: "VT323", monospace;
  --color-light: #f5f5f5;
  --color-base: #404040;
  --color-dark: #fafafa;
  --color-lime-base: #749473;
  --color-lime-light: #e3eae1;
  --leading-base: 1.25;
  --cursor-normal: url("/cursor-normal.svg"), auto;
  --cursor-hand: url("/cursor-pointer.svg"), pointer;
}

@layer base {
  * {
    @apply leading-base cursor-normal font-mono text-base;
  }

  body {
    @apply mx-auto max-w-lg py-20;

    background: repeating-linear-gradient(
      var(--color-light) 0px,
      var(--color-light) 1px,
      var(--color-dark) 1px,
      var(--color-dark) 5px
    );
  }

  header {
    @apply my-40 text-center;
  }

  footer,
  section {
    @apply my-16 px-8;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  hr {
    @apply my-4;
  }

  h1,
  h2 {
    @apply font-display;
  }

  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-2xl;
  }

  a {
    @apply text-lime-base hover:bg-lime-light cursor-hand font-bold underline;
  }

  table {
    @apply w-full;
  }

  tr {
    @apply align-baseline;
  }

  p,
  td {
    @apply px-1 py-2;
  }

  img {
    @apply my-8 max-w-full;
  }
}
