:root {
  --bg-light: #f5f5f5;
  --bg-dark: #fafafa;
  --text: #404040;
  --base: #749473;
  --base-light: #e3eae1;
}

body {
  max-width: 540px;
  margin: 0px auto;
  padding: 4rem 0px;
  font-family: "Cascadia Code", monospace;
  line-height: 1.25;
  color: var(--text);
  background: repeating-linear-gradient(
    var(--bg-light) 0px,
    var(--bg-light) 1px,
    var(--bg-dark) 1px,
    var(--bg-dark) 5px
  );
}

header {
  margin: 12rem auto;
  text-align: center;
}

section,
footer {
  margin: 4rem 0px;
  padding: 0px 2rem;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 1.5rem;
}

h1,
h2 {
  font-family: "VT323", monospace;
  font-weight: 400;
}

a {
  color: var(--base);
  font-weight: 700;
}

a:hover {
  background-color: var(--base-light);
}

table {
  width: 100%;
}

tr {
  vertical-align: baseline;
}

td {
  padding: 0.5rem 0.25rem;
}
