---
import { TITLE } from "@/constants/data";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{TITLE}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@200..700&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <section>
      <slot />
    </section>
  </body>
</html>
