---
import Basic from "@/Meta/Basic.astro";
import Favicons from "@/Meta/Favicons.astro";
import Og from "@/Meta/Og.astro";
import Twitter from "@/Meta/Twitter.astro";

import MixPanel from "@/components/MixPanel.astro";

import { TITLE } from "@/constants/data";

import "@/styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{TITLE}</title>

    <Basic />
    <Og />
    <Twitter />
    <Favicons />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cascadia+Code:wght@200..700&family=VT323&display=swap"
      rel="stylesheet"
    />

    <MixPanel />
  </head>

  <body>
    <slot />
  </body>
</html>
